<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Before-your-start:" data-toc-modified-id="Before-your-start:-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Before your start:</a></span></li><li><span><a href="#Challenge-1---Index-Functions" data-toc-modified-id="Challenge-1---Index-Functions-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Challenge 1 - Index Functions</a></span></li><li><span><a href="#Challenge-2---Advanced-Functions" data-toc-modified-id="Challenge-2---Advanced-Functions-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Challenge 2 - Advanced Functions</a></span></li><li><span><a href="#Challenge-3---Method-Chaining" data-toc-modified-id="Challenge-3---Method-Chaining-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Challenge 3 - Method Chaining</a></span></li></ul></div>

# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [108]:
import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [109]:
admissions = pd.read_csv('../Admission_Predict.csv')

In [110]:
admissions.columns = admissions.columns.str.rstrip() #to remove trailing spaces at the end of the column names

Let's evaluate the dataset by looking at the `head` function.

In [111]:
admissions.head(50)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
5,6,321,109,3,3.0,4.0,8.20,1,0.75
6,7,308,101,2,3.0,4.0,7.90,0,0.68
7,8,302,102,1,2.0,1.5,8.00,0,0.50
8,9,323,108,3,3.5,3.0,8.60,0,0.45
9,10,327,111,4,4.0,4.5,9.00,1,0.84
10,11,328,112,4,4.0,4.5,9.10,1,0.78
11,12,307,109,3,4.0,3.0,8.00,1,0.62
12,13,311,104,3,3.5,2.0,8.20,1,0.61
13,14,314,105,3,3.5,2.5,8.30,0,0.54
14,15,317,107,3,4.0,3.0,8.70,0,0.66
15,16,319,106,3,4.0,3.0,8.00,1,0.65
16,17,318,110,3,4.0,3.0,8.80,0,0.63
17,18,303,102,3,3.5,3.0,8.50,0,0.62
18,19,325,114,4,3.0,2.0,8.40,0,0.70
19,20,328,116,5,5.0,5.0,9.50,1,0.94
20,21,334,119,5,5.0,4.5,9.70,1,0.95
21,22,336,119,5,4.0,3.5,9.80,1,0.97
22,23,322,109,5,4.5,3.5,8.80,0,0.76
23,24,298,98,2,1.5,2.5,7.50,1,0.44
24,25,295,93,1,2.0,2.0,7.20,0,0.46
25,26,310,99,2,1.5,2.0,7.30,0,0.54
26,27,300,97,2,3.0,3.0,8.10,1,0.65
27,28,327,103,3,4.0,4.0,8.30,1,0.74
28,29,338,118,4,3.0,4.5,9.40,1,0.91
29,30,340,114,5,4.0,4.0,9.60,1,0.90
30,31,331,112,5,4.0,5.0,9.80,1,0.94
31,32,320,110,5,5.0,5.0,9.20,1,0.88
32,33,299,106,2,4.0,4.0,8.40,0,0.64
33,34,300,105,1,1.0,2.0,7.80,0,0.58
34,35,304,105,1,3.0,1.5,7.50,0,0.52
35,36,307,108,2,4.0,3.5,7.70,0,0.48
36,37,308,110,3,3.5,3.0,8.00,1,0.46
37,38,316,105,2,2.5,2.5,8.20,1,0.49
38,39,313,107,2,2.5,2.0,8.50,1,0.53
39,40,332,117,4,4.5,4.0,9.10,0,0.87
40,41,326,113,5,4.5,4.0,9.40,1,0.91
41,42,322,110,5,5.0,4.0,9.10,1,0.88
42,43,329,114,5,4.0,5.0,9.30,1,0.86
43,44,339,119,5,4.5,4.0,9.70,0,0.89
44,45,321,110,3,3.5,5.0,8.85,1,0.82
45,46,327,111,4,3.0,4.0,8.40,1,0.78
46,47,313,98,3,2.5,4.5,8.30,1,0.76
47,48,312,100,2,1.5,3.5,7.90,1,0.56
48,49,334,116,4,4.0,3.0,8.00,1,0.78
49,50,324,112,4,4.0,2.5,8.10,1,0.72

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [112]:
admissions.info() # we can see that there are no NAN values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         385 non-null    int64
 1   GRE Score          385 non-null    int64
 2   TOEFL Score        385 non-null    int64
 3   University Rating  385 non-null    int64
 4   SOP                385 non-null    float64
 5   LOR                385 non-null    float64
 6   CGPA               385 non-null    float64
 7   Research           385 non-null    int64
 8   Chance of Admit    385 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 27.2 KB

In [113]:
admissions.isna().value_counts() # we can see that there are no NAN values

Serial No.  GRE Score  TOEFL Score  University Rating  SOP    LOR    CGPA   Research  Chance of Admit
False       False      False        False              False  False  False  False     False              385
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [114]:
admissions.index = admissions["Serial No."]

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [115]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90

In [116]:
admissions.set_index(['GRE Score','CGPA']).index.is_unique

True

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [117]:
admissions.set_index(['GRE Score', 'CGPA'], inplace = True)

In [118]:
admissions.head()

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90

In [119]:
admissions.reset_index(inplace = True)

In [120]:
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [121]:
admissions[(admissions.CGPA > 9) & (admissions.Research == 1)].shape[0]

101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [122]:
admissions[(admissions.CGPA > 9) & (admissions.SOP < 3.5)]

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
28,338,9.40,29,118,4,3.0,4.5,1,0.91
62,327,9.02,63,114,3,3.0,3.0,0,0.61
140,326,9.11,141,114,3,3.0,3.0,1,0.83
217,324,9.01,218,111,4,3.0,3.0,1,0.82
381,325,9.11,382,107,3,3.0,3.5,1,0.84

In [123]:
admissions[(admissions.CGPA > 9) & (admissions.SOP < 3.5)]["Chance of Admit"].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [124]:
def standardize(df,col):
    x = []
    for i in range(len(col)):
        x.append(((col[i] - np.mean(col))/np.std(col)))
    df[col.name + "_std"] = x

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [125]:
standardize(admissions, admissions["CGPA"])

In [126]:
standardize(admissions, admissions["GRE Score"])

In [127]:
standardize(admissions, admissions["LOR"])

In [128]:
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE Score_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338

We will generate the decision choice at random using the code below. Please run the cell.

In [129]:
from random import choices
std_columns = ['CGPA_std', 'GRE Score_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [130]:
decision_choice

['GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'GRE Score_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE Score_std',
 'LOR_std',
 'GRE Score_std',
 'CGPA_std']

In [131]:
admissions['deciding_column'] = admissions.lookup(admissions.index, decision_choice)

In [132]:
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE Score_std,LOR_std,deciding_column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.755663
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.063450
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.121191
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,-0.481338

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [133]:
admissions["decision"] = admissions["deciding_column"].apply(lambda x: 1 if x > 0.8 else 0)

In [134]:
admissions.head(10)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE Score_std,LOR_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.755663,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.063450,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.121191,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,-0.481338,0
5,321,8.20,6,109,3,3.0,4.0,1,0.75,-0.660055,0.369672,0.635019,-0.660055,0
6,308,7.90,7,101,2,3.0,4.0,0,0.68,-1.158723,-0.756445,0.635019,-0.756445,0
7,302,8.00,8,102,1,2.0,1.5,0,0.50,-0.992501,-1.276191,-2.155874,-0.992501,0
8,323,8.60,9,108,3,3.5,3.0,0,0.45,0.004836,0.542921,-0.481338,0.004836,0
9,327,9.00,10,111,4,4.0,4.5,1,0.84,0.669726,0.889419,1.193197,0.889419,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [135]:
admissions[admissions.decision == 1].shape[0]

92

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [136]:
admissions.columns = admissions.columns.str.lower().str.replace("\s","_").str.replace(".","")

In [137]:
admissions.columns

Index(['gre_score', 'cgpa', 'serial_no', 'toefl_score', 'university_rating',
       'sop', 'lor', 'research', 'chance_of_admit', 'cgpa_std',
       'gre_score_std', 'lor_std', 'deciding_column', 'decision'],
      dtype='object')

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [138]:
#I'm not sure if I understood the exercise, I hope the solution is correct.

In [145]:
admissions['adjusted_gre'] = np.where(admissions["university_rating"] > 4,admissions["gre_score"] + 10,admissions["gre_score"])

In [146]:
admissions.head()

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_score_std,lor_std,deciding_column,decision,adjusted_gre
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.755663,1,337
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.063450,0,316
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.121191,0,322
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433,0,314
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,-0.481338,0,340

In [147]:
admissions['adjusted_gre'] = pd.cut(admissions['adjusted_gre'], bins=4)

In [148]:
admissions.head()

,gre_score,cgpa,serial_no,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_score_std,lor_std,deciding_column,decision,adjusted_gre
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.755663,1,"(335.0, 350.0]"
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.063450,0,"(305.0, 320.0]"
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.121191,0,"(320.0, 335.0]"
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433,0,"(305.0, 320.0]"
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,-0.481338,0,"(335.0, 350.0]"