<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Before-your-start:" data-toc-modified-id="Before-your-start:-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Before your start:</a></span></li><li><span><a href="#Challenge-1---Index-Functions" data-toc-modified-id="Challenge-1---Index-Functions-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Challenge 1 - Index Functions</a></span></li><li><span><a href="#Challenge-2---Advanced-Functions" data-toc-modified-id="Challenge-2---Advanced-Functions-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Challenge 2 - Advanced Functions</a></span></li><li><span><a href="#Challenge-3---Method-Chaining" data-toc-modified-id="Challenge-3---Method-Chaining-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Challenge 3 - Method Chaining</a></span></li></ul></div>

# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500) #Setting the max rows to a high value will let us visualize all necessary values.

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [2]:
# Run this code:

admissions = pd.read_csv('Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [3]:
# Your code here:

admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [4]:
#General dataset overview, it will show any missing values.

admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         385 non-null    int64
 1   GRE Score          385 non-null    int64
 2   TOEFL Score        385 non-null    int64
 3   University Rating  385 non-null    int64
 4   SOP                385 non-null    float64
 5   LOR                385 non-null    float64
 6   CGPA               385 non-null    float64
 7   Research           385 non-null    int64
 8   Chance of Admit    385 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 27.2 KB

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [5]:
#Replacing the index with the specified column.

admissions.set_index('Serial No.', inplace=True)

In [6]:
admissions.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
#While neither GRE Score or CGPA have unique values, the combination of both fields does. Let's check it using value_counts:

admissions[['GRE Score', 'CGPA']].value_counts()

GRE Score  CGPA
340        9.92    1
317        8.50    1
311        8.48    1
           8.64    1
           9.00    1
312        7.90    1
           8.01    1
           8.02    1
           8.04    1
           8.09    1
           8.12    1
           8.18    1
           8.27    1
           8.42    1
           8.45    1
           8.46    1
           8.53    1
           8.65    1
           8.69    1
           8.78    1
           8.79    1
313        8.04    1
           8.27    1
311        8.45    1
           8.43    1
           8.30    1
310        8.02    1
308        8.45    1
           8.49    1
           8.60    1
309        8.00    1
           8.10    1
           8.12    1
           8.26    1
           8.56    1
310        7.30    1
           8.24    1
311        8.26    1
310        8.33    1
           8.36    1
           8.37    1
           8.67    1
           9.04    1
311        7.46    1
           7.98    1
           8.12    1
           8.20    1
313        8.30    1
           8.43    1
           8.50    1
316        8.20    1
315        8.34    1
           8.42    1
           8.46    1
           8.48    1
           8.50    1
316        7.40    1
           7.43    1
           8.00    1
           8.16    1
           8.32    1
315        7.95    1
316        8.56    1
           8.64    1
           8.73    1
           8.76    1
           8.78    1
           9.00    1
317        8.12    1
           8.15    1
           8.28    1
315        8.33    1
           7.89    1
313        8.65    1
314        8.24    1
313        8.68    1
           8.69    1
           8.75    1
           8.90    1
           9.00    1
314        7.64    1
           8.14    1
           8.17    1
           8.21    1
           8.25    1
315        7.86    1
314        8.27    1
           8.30    1
           8.56    1
           8.77    1
           8.80    1
           8.90    1
           9.02    1
           9.04    1
315        7.65    1
308        8.36    1
           8.34    1
           8.24    1
300        7.80    1
299        7.34    1
           7.66    1
           7.86    1
           7.88    1
           7.89    1
           8.02    1
           8.40    1
           8.62    1
300        6.80    1
           7.87    1
298        8.03    1
300        8.01    1
           8.10    1
           8.16    1
           8.17    1
           8.26    1
           8.66    1
301        7.88    1
           7.89    1
           8.03    1
298        8.54    1
           7.88    1
301        8.12    1
296        7.54    1
290        7.56    1
293        7.80    1
294        7.36    1
           7.64    1
295        7.20    1
           7.34    1
           7.65    1
           7.86    1
296        7.28    1
           7.68    1
298        7.86    1
296        7.80    1
           8.03    1
297        7.43    1
           7.67    1
           7.89    1
           7.90    1
298        7.46    1
           7.50    1
           7.60    1
301        8.04    1
           8.22    1
308        8.22    1
307        7.70    1
305        8.48    1
           8.65    1
306        8.00    1
           8.14    1
           8.22    1
           8.26    1
           8.36    1
           8.45    1
307        7.65    1
           8.00    1
305        8.23    1
307        8.10    1
           8.20    1
           8.27    1
           8.37    1
           8.52    1
308        7.90    1
           8.00    1
           8.07    1
           8.21    1
305        8.42    1
           8.18    1
301        8.34    1
303        8.50    1
301        8.47    1
302        7.25    1
           7.96    1
           7.97    1
           8.00    1
           8.33    1
303        7.65    1
           7.66    1
           8.06    1
           8.65    1
305        8.16    1
304        7.50    1
           7.64    1
           7.66    1
           7.84    1
           8.07    1
           8.20    1
           8.64    1
           8.73    1
305        8.13    1
317        8.47    1
           8.54    1
340        9.91    1
317        8.56    1
327        9.14    1
328        9.02    1
           9.10    1
           9.14    1
           9.16    1
           9.18    1
           9.50    1
329        8.56    1
           9.01    1
           9.15    1
           9.16    1
           9.18    1
           9.19    1
           9.23    1
           9.30    1
           9.45    1
330        9.17    1
           9.24    1
           9.31    1
           9.34    1
           9.36    1
327        9.13    1
           9.11    1
           9.02    1
326        9.12    1
325        9.06    1
           9.11    1
           9.17    1
326        8.76    1
           8.89    1
           9.05    1
           9.08    1
           9.10    1
           9.11    1
           9.14    1
327        9.00    1
326        9.23    1
           9.40    1
327        8.30    1
           8.40    1
           8.66    1
           8.69    1
           8.72    1
           8.77    1
           8.84    1
330        9.45    1
331        8.96    1
           9.26    1
338        9.40    1
335        9.68    1
           9.82    1
336        9.19    1
           9.53    1
           9.62    1
           9.76    1
           9.80    1
337        9.65    1
338        9.23    1
           9.46    1
335        9.44    1
338        9.66    1
339        9.70    1
           9.76    1
           9.80    1
340        9.45    1
           9.50    1
           9.60    1
           9.66    1
           9.74    1
335        9.56    1
334        9.87    1
331        9.34    1
332        9.47    1
331        9.36    1
           9.38    1
           9.42    1
           9.44    1
           9.80    1
332        9.10    1
           9.24    1
           9.28    1
           9.36    1
           9.64    1
334        9.70    1
333        9.28    1
           9.35    1
           9.66    1
           9.78    1
334        8.00    1
           9.07    1
           9.43    1
           9.48    1
           9.54    1
325        9.04    1
           9.00    1
           8.96    1
320        9.20    1
           8.34    1
           8.44    1
           8.56    1
           8.57    1
           8.62    1
           8.64    1
           8.74    1
           8.87    1
           9.11    1
           9.22    1
319        9.04    1
321        8.20    1
           8.44    1
           8.54    1
           8.68    1
           8.80    1
           8.83    1
           8.85    1
           8.90    1
           8.97    1
320        7.70    1
319        8.79    1
321        9.12    1
318        8.65    1
317        8.57    1
           8.68    1
           8.70    1
           8.76    1
           9.11    1
318        7.92    1
           8.27    1
           8.50    1
           8.54    1
           8.67    1
319        8.76    1
318        8.80    1
           9.12    1
           9.22    1
319        8.00    1
           8.33    1
           8.54    1
           8.66    1
           8.67    1
           8.71    1
321        9.06    1
           9.13    1
325        8.92    1
324        8.97    1
           8.10    1
           8.64    1
           8.66    1
           8.75    1
           8.76    1
           8.77    1
           8.79    1
           8.80    1
           8.87    1
           9.01    1
323        9.23    1
324        9.04    1
           9.08    1
           9.15    1
           9.16    1
           9.22    1
325        8.40    1
           8.67    1
           8.70    1
           8.76    1
323        9.32    1
           9.10    1
321        9.45    1
322        8.97    1
           8.00    1
           8.45    1
           8.46    1
           8.64    1
           8.67    1
           8.80    1
           8.84    1
           8.94    1
           8.96    1
           9.10    1
323        8.98    1
322        9.13    1
           9.26    1
           9.36    1
323        8.44    1
           8.55    1
           8.60    1
           8.74    1
           8.78    1
           8.88    1
290        7.46    1
dtype: int64

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [8]:
#Setting the new indices.

admissions.set_index(['GRE Score', 'CGPA'], inplace=True)

In [9]:
admissions.head()

,,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,
337,9.65,118,4,4.5,4.5,1,0.92
316,8.00,104,3,3.0,3.5,1,0.72
322,8.67,110,3,3.5,2.5,1,0.80
314,8.21,103,2,2.0,3.0,0,0.65
330,9.34,115,5,4.5,3.0,1,0.90

In [20]:
#Resetting the index.

admissions.reset_index(inplace=True)

In [21]:
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
1,316,8.00,104,3,3.0,3.5,1,0.72
2,322,8.67,110,3,3.5,2.5,1,0.80
3,314,8.21,103,2,2.0,3.0,0,0.65
4,330,9.34,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [63]:
#Using filtering with the two conditions to find how many rows have met them.
#I had to use & instead of "and", I'm not sure why. As fas as I know both statements should return the same output, 
#but they do not.

len(admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)])

101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [69]:
admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]['Chance of Admit'].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [77]:
#Defining the function, we'll use the Pandas functions "mean" and "std" to calculate the values for each new column.

def standardize(col):
    standarized_column = (admissions[col] - admissions[col].mean()) / admissions[col].std()
    return standarized_column

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [78]:
admissions['CGPA_std'] = standardize('CGPA')

In [82]:
admissions['LOR_std'] = standardize('LOR')

In [80]:
admissions['GRE_std'] = standardize('GRE Score')

In [83]:
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713
4,330,9.34,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713

We will generate the decision choice at random using the code below. Please run the cell.

In [84]:
# Run this code:

from random import choices
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [85]:
#Creating the new column based on the lookup of the random column.

admissions['deciding_column'] = admissions.lookup(admissions.index, decision_choice)

In [86]:
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,337,9.65,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,1.747900
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,-0.063367
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,0.455704
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,-0.480713
4,330,9.34,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,1.233279

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [93]:
#I'm once again encountering the following error:
#"ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all()."
#So I've been forced to change my response, accessing the values separately seems to do the trick but I still don't
#understand why I'm encountering that error in the forst place.

admissions['decision'] = [1 if i > 0.8 else 0 for i in admissions['deciding_column']]

In [94]:
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,1.747900,1
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,-0.063367,0
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,0.455704,0
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,-0.480713,0
4,330,9.34,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,1.233279,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [102]:
#Adding all columns where the specified condition (decision == 1) is met.

sum((admissions['decision'] == 1))

86

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [104]:
#I didn't get what "non character symbols" was refering to, so I met the other requirements.

admissions.columns = admissions.columns.str.replace(' ','_').str.lower()

In [105]:
admissions.head()

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,1.747900,1
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,-0.063367,0
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,0.455704,0
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,-0.480713,0
4,330,9.34,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,1.233279,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
##Will finish at a later date, I currently can't find a way to perform this operation in a single line.

<div align="right">Ironhack DA PT 2021</div>
    
<div align="right">Xavier Esteban</div>